<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="madlib">
        <p>Enter the Following</p>
            <label for="1">Person's Name</label>
            <input type="text" name="1">
            <br>
            <label for="2">Noun</label>
            <input type="text" name="2">
            <br>
            <label for="3">Adjective (Feeling)</label>
            <input type="text" name="3">
            <br>
            <label for="4">Verb</label>
            <input type="text" name="4">
            <br>
            <label for="5">Adjective (Feeling)</label>
            <input type="text" name="5">
            <br>
            <label for="6">Animal</label>
            <input type="text" name="6">
            <br>
            <label for="7">Verb</label>
            <input type="text" name="7">
            <br>
            <label for="8">Color</label>
            <input type="text" name="8">
            <br>
            <label for="9">Verb (ending in "ing")</label>
            <input type="text" name="9">
            <br>
            <label for="10">Adverb</label>
            <input type="text" name="10">
            <br>
            <label for="11">Number</label>
            <input type="text" name="11">
            <br>
            <label for="12">Measure of Time</label>
            <input type="text" name="12">
            <br>
            <label for="13">Color</label>
            <input type="text" name="13">
            <br>
            <label for="14">Animal</label>
            <input type="text" name="14">
            <br>
            <label for="15">Number</label>
            <input type="text" name="15">
            <br>
            <label for="16">Silly Word</label>
            <input type="text" name="16">
            <br>
            <label for="17">Noun</label>
            <input type="text" name="17">
            <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>