<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    2 This weekend I am going camping with {{ one }}. I packed my lantern, sleeping bag and {{ two }}. 
    I am so {{ three }} to {{ four }} in a tent. I am {{ five }} we might see a {{ six }}, they 
    are kind of dangerous. We are going to hike, fish, and {{ seven }}. I have heard that the {{ eight }} 
    lake is great for {{ nine }}. Then we will {{ ten }} hike through the forestfor {{ eleven }} {{ twelve }}, 
    If I see a {{ thirteen }} {{ fourteen }} while hiking, I am going to bring it home as a pet! At night we will tell 
    {{ fifteen }} {{ sixteen }} stories and roast {{ seventeen }} around the camfire!!

    <form action="/game">
        <input type="submit" value="Play Again">
    </form>
</html>